<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarAutoPhotoWriteDao" >

  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.autoId != null" >
         and auto_id = #{condition.autoId}
      </if>
      <if test="condition.photoUrl != null" >
         and photo_url = #{condition.photoUrl}
      </if>
      <if test="condition.createTime != null" >
         and create_time = #{condition.createTime}
      </if>
      <if test="condition.sort != null" >
         and sort = #{condition.sort}
      </if>
      <if test="condition.createUser != null" >
         and create_user = #{condition.createUser}
      </if>
      <if test="condition.updateTime != null" >
         and update_time = #{condition.updateTime}
      </if>
      <if test="condition.updateUser != null" >
         and update_user = #{condition.updateUser}
      </if>
      <if test="condition.photoType != null" >
        and photo_type = #{condition.photoType}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, auto_id, photo_url, create_time, sort, create_user, update_time, update_user,photo_type
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from car_auto_photo
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.wintop.ms.carauction.entity.Criteria" >
    delete from car_auto_photo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarAutoPhoto" >
    insert into car_auto_photo (id, auto_id, photo_url, create_time, sort, create_user, update_time, 
      update_user,photo_type)
    values (#{id}, #{autoId}, #{photoUrl}, #{createTime}, #{sort}, #{createUser}, #{updateTime}, 
      #{updateUser},#{photoType})
  </insert>

  <insert id="insertArr" parameterType="java.util.List" >
    insert into car_auto_photo (id, auto_id, photo_url, create_time, sort, create_user, update_time,
    update_user,photo_type)
    values
    <foreach collection="photoList" item="photo" index="index" separator=",">
      (#{photo.id}, #{photo.autoId}, #{photo.photoUrl}, #{photo.createTime}, #{photo.sort}, #{photo.createUser},
      #{photo.updateTime}, #{photo.updateUser},#{photo.photoType})
    </foreach>

  </insert>

  <insert id="insertSelective" parameterType="com.wintop.ms.carauction.entity.CarAutoPhoto" >
    insert into car_auto_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="autoId != null" >
        auto_id,
      </if>
      <if test="photoUrl != null" >
        photo_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="photoType != null" >
        photo_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="autoId != null" >
        #{autoId},
      </if>
      <if test="photoUrl != null" >
        #{photoUrl},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="createUser != null" >
        #{createUser},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUser != null" >
        #{updateUser},
      </if>
      <if test="photoType != null" >
        #{photoType},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update car_auto_photo
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.autoId != null" >
        auto_id = #{record.autoId},
      </if>
      <if test="record.photoUrl != null" >
        photo_url = #{record.photoUrl},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser},
      </if>
      <if test="record.photoType != null" >
        photo_type = #{record.photoType},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car_auto_photo
    set id = #{record.id},
      auto_id = #{record.autoId},
      photo_url = #{record.photoUrl},
      create_time = #{record.createTime},
      sort = #{record.sort},
      create_user = #{record.createUser},
      update_time = #{record.updateTime},
      update_user = #{record.updateUser},
      photo_type = #{record.photoType}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wintop.ms.carauction.entity.CarAutoPhoto" >
    update car_auto_photo
    <set >
      <if test="autoId != null" >
        auto_id = #{autoId},
      </if>
      <if test="photoUrl != null" >
        photo_url = #{photoUrl},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser},
      </if>
      <if test="photoType != null" >
        photo_type = #{photoType},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wintop.ms.carauction.entity.CarAutoPhoto" >
    update car_auto_photo
    set auto_id = #{autoId},
      photo_url = #{photoUrl},
      create_time = #{createTime},
      sort = #{sort},
      create_user = #{createUser},
      update_time = #{updateTime},
      update_user = #{updateUser},
      photo_type = #{photoType}
    where id = #{id}
  </update>
<!--清楚车辆全部图片-->
  <delete id="deleteByAutoId" parameterType="java.lang.Long">
    DELETE FROM car_auto_photo WHERE auto_id = #{autoId}
  </delete>
</mapper>