<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarAgentCompanyWriteDao" >
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from car_agent_company
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarAgentCompany" >
    insert into car_agent_company (id, company_code, company_name, create_person, create_time, update_person,
      update_time, status, address, handler_id,handler_name, handler_tel, remark,
      del_person, del_time)
    values (#{id}, #{companyCode}, #{companyName}, #{createPerson}, #{createTime}, #{updatePerson},
      #{updateTime}, #{status}, #{address},#{handlerId}, #{handlerName}, #{handlerTel}, #{remark},
      #{delPerson}, #{delTime})
  </insert>
  <update id="updateByIdSelective" parameterType="com.wintop.ms.carauction.entity.CarAgentCompany" >
    update car_agent_company
    <set >
      <if test="companyCode != null" >
        company_code = #{companyCode},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId},
      </if>
      <if test="handlerName != null" >
        handler_name = #{handlerName},
      </if>
      <if test="handlerTel != null" >
        handler_tel = #{handlerTel},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="delPerson != null" >
        del_person = #{delPerson},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateById" parameterType="com.wintop.ms.carauction.entity.CarAgentCompany" >
    update car_agent_company
    set company_code = #{companyCode},
      company_name = #{companyName},
      create_person = #{createPerson},
      create_time = #{createTime},
      update_person = #{updatePerson},
      update_time = #{updateTime},
      status = #{status},
      address = #{address},
      handler_id = #{handlerId},
      handler_name = #{handlerName},
      handler_tel = #{handlerTel},
      remark = #{remark},
      del_person = #{delPerson},
      del_time = #{delTime}
    where id = #{id}
  </update>
</mapper>