<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarAuctionFareSettingWriteDao" >

    <delete id="deleteById" parameterType="java.lang.Long" >
        delete from car_auction_fare_setting
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarAuctionFareSetting" >
        insert into car_auction_fare_setting
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="farePrice != null" >
                fare_price,
            </if>
            <if test="editUser != null" >
                edit_user,
            </if>
            <if test="editTime != null" >
                edit_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="sort != null" >
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="farePrice != null" >
                #{farePrice},
            </if>
            <if test="editUser != null" >
                #{editUser},
            </if>
            <if test="editTime != null" >
                #{editTime},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="sort != null" >
                #{sort},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="com.wintop.ms.carauction.entity.CarAuctionFareSetting" >
        update car_auction_fare_setting
        <set >
            <if test="farePrice != null" >
                fare_price = #{farePrice},
            </if>
            <if test="editUser != null" >
                edit_user = #{editUser},
            </if>
            <if test="editTime != null" >
                edit_time = #{editTime},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="sort != null" >
                sort = #{sort},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateById" parameterType="com.wintop.ms.carauction.entity.CarAuctionFareSetting" >
        update car_auction_fare_setting
        set fare_price = #{farePrice},
        edit_user = #{editUser},
        edit_time = #{editTime},
        status = #{status},
        sort = #{sort}
        where id = #{id}
    </update>
</mapper>