<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarLocaleAuctionCarWriteDao" >
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from car_locale_auction_car
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarLocaleAuctionCar" >
    insert into car_locale_auction_car (
    id,
    auction_id,
    auto_auction_id,
    car_id,
    auction_code,
    auction_status,
    sort,
    create_person,
    create_time
    )
    values (
    #{id},
    #{auctionId},
    #{autoAuctionId},
    #{carId},
    #{auctionCode},
    #{auctionStatus},
    #{sort},
    #{createPerson},
    #{createTime}
    )
  </insert>
  <update id="updateByIdSelective" parameterType="com.wintop.ms.carauction.entity.CarLocaleAuctionCar" >
    update car_locale_auction_car
    <set >
      <if test="auctionId != null" >
        auction_id = #{auctionId},
      </if>
      <if test="autoAuctionId != null" >
        auto_auction_id = #{autoAuctionId},
      </if>
      <if test="carId != null" >
        car_id = #{carId},
      </if>
      <if test="auctionCode != null" >
        auction_code = #{auctionCode},
      </if>
      <if test="auctionStatus != null" >
        auction_status = #{auctionStatus},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="priceRange != null" >
        price_range = #{priceRange},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateById" parameterType="com.wintop.ms.carauction.entity.CarLocaleAuctionCar" >
    update car_locale_auction_car
    set auction_id = #{auctionId},
      auto_auction_id = #{autoAuctionId},
      car_id = #{carId},
      auction_code = #{auctionCode},
      auction_status = #{auctionStatus},
      sort = #{sort},
      create_person = #{createPerson},
      create_time = #{createTime}
    where id = #{id}
  </update>
  <!--批量插入车辆竞拍信息-->
  <insert id="insertCarLocaleAuctionCarList" parameterType="com.wintop.ms.carauction.entity.CarLocaleAuctionCar" >
    insert into car_locale_auction_car (
    id,
    auction_id,
    auto_auction_id,
    car_id,
    auction_code,
    auction_status,
    sort,
    create_person,
    create_time
    )

    values
    <foreach collection="list" item="carLocaleAuctionCar" index="index" separator=",">
      (
        #{carLocaleAuctionCar.id,jdbcType=BIGINT},
        #{carLocaleAuctionCar.auctionId,jdbcType=BIGINT},
        #{carLocaleAuctionCar.autoAuctionId,jdbcType=BIGINT},
        #{carLocaleAuctionCar.carId,jdbcType=BIGINT},
        #{carLocaleAuctionCar.auctionCode,jdbcType=VARCHAR},
        #{carLocaleAuctionCar.auctionStatus,jdbcType=VARCHAR},
        #{carLocaleAuctionCar.sort,jdbcType=INTEGER},
        #{carLocaleAuctionCar.createPerson,jdbcType=BIGINT},
        now()
    )
    </foreach>
  </insert>

  <!-- 修改某场次内的指定顺序号的车 顺延序号 -->
  <update id="updateSortAuctionCar" parameterType="java.util.Map" >
    update car_locale_auction_car
    set sort = sort+1
    where auction_id = #{auctionId} AND sort > #{sort}
  </update>

  <!--导入起拍价时，批量存储加价幅度-->
  <update id="batchUpdateLocaleAuctionById" parameterType="java.util.List" >
    <foreach collection="localeAuctionList" item="item" index="index" separator=";">
      update car_locale_auction_car
      <set >
        <if test="item.priceRange != null" >
          price_range = #{item.priceRange},
        </if>
        <if test="item.priceRange != null" >
          init_price_range = #{item.priceRange},
        </if>
      </set>
      where id = #{item.id}
    </foreach>
  </update>
</mapper>