<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarOrderRetailWriteDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarOrderRetail" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="BIGINT" />
    <result column="transaction_fee" property="transactionFee" jdbcType="DECIMAL" />
    <result column="earnest_money" property="earnestMoney" jdbcType="DECIMAL" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="down_payments" property="downPayments" jdbcType="DECIMAL" />
    <result column="mortgage_amount" property="mortgageAmount" jdbcType="DECIMAL" />
    <result column="mortgage_period" property="mortgagePeriod" jdbcType="BIGINT" />
    <result column="monthly_repayment" property="monthlyRepayment" jdbcType="DECIMAL" />
    <result column="transfer" property="transfer" jdbcType="VARCHAR" />
    <result column="sales_type" property="salesType" jdbcType="VARCHAR" />
    <result column="sales_consultant" property="salesConsultant" jdbcType="VARCHAR" />
    <result column="sales_date" property="salesDate" jdbcType="DATE" />
    <result column="insurance_company" property="insuranceCompany" jdbcType="VARCHAR" />
    <result column="commercial_insurance_expires" property="commercialInsuranceExpires" jdbcType="DATE" />
    <result column="compulsory_insurance_expires" property="compulsoryInsuranceExpires" jdbcType="DATE" />
    <result column="mortgage_charges" property="mortgageCharges" jdbcType="DECIMAL" />
    <result column="insurance_rebate" property="insuranceRebate" jdbcType="DECIMAL" />
    <result column="boutique_profit" property="boutiqueProfit" jdbcType="DECIMAL" />
    <result column="guaranteed_profit" property="guaranteedProfit" jdbcType="DECIMAL" />
    <result column="add_profits" property="addProfits" jdbcType="DECIMAL" />
    <result column="other_expenses" property="otherExpenses" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="vehicle_owner_type" property="vehicleOwnerType" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="drawee" property="drawee" jdbcType="VARCHAR" />
    <result column="opening_bank" property="openingBank" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="other_accounts" property="otherAccounts" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="mortgage_plan" property="mortgagePlan" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarOrderRetail" >
    insert into car_order_retail (id, order_no, car_id, 
      transaction_fee, earnest_money, payment_type, 
      down_payments, mortgage_amount, mortgage_period, 
      monthly_repayment, transfer, sales_type, 
      sales_consultant, sales_date, insurance_company, 
      commercial_insurance_expires, compulsory_insurance_expires, 
      mortgage_charges, insurance_rebate, boutique_profit, 
      guaranteed_profit, add_profits, other_expenses, 
      remarks, vehicle_owner_type, phone, 
      name, source, id_card, 
      address, drawee, opening_bank, 
      bank_account, other_accounts, create_user, mortgage_plan
      create_date)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{carId,jdbcType=BIGINT}, 
      #{transactionFee,jdbcType=DECIMAL}, #{earnestMoney,jdbcType=DECIMAL}, #{paymentType,jdbcType=VARCHAR}, 
      #{downPayments,jdbcType=DECIMAL}, #{mortgageAmount,jdbcType=DECIMAL}, #{mortgagePeriod,jdbcType=BIGINT}, 
      #{monthlyRepayment,jdbcType=DECIMAL}, #{transfer,jdbcType=VARCHAR}, #{salesType,jdbcType=VARCHAR}, 
      #{salesConsultant,jdbcType=VARCHAR}, #{salesDate,jdbcType=DATE}, #{insuranceCompany,jdbcType=VARCHAR},
      #{commercialInsuranceExpires,jdbcType=DATE}, #{compulsoryInsuranceExpires,jdbcType=DATE}, 
      #{mortgageCharges,jdbcType=DECIMAL}, #{insuranceRebate,jdbcType=DECIMAL}, #{boutiqueProfit,jdbcType=DECIMAL}, 
      #{guaranteedProfit,jdbcType=DECIMAL}, #{addProfits,jdbcType=DECIMAL}, #{otherExpenses,jdbcType=DECIMAL}, 
      #{remarks,jdbcType=VARCHAR}, #{vehicleOwnerType,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{drawee,jdbcType=VARCHAR}, #{openingBank,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{otherAccounts,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP},#{mortgagePlan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wintop.ms.carauction.entity.CarOrderRetail" >
    insert into car_order_retail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="transactionFee != null" >
        transaction_fee,
      </if>
      <if test="earnestMoney != null" >
        earnest_money,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="downPayments != null" >
        down_payments,
      </if>
      <if test="mortgageAmount != null" >
        mortgage_amount,
      </if>
      <if test="mortgagePeriod != null" >
        mortgage_period,
      </if>
      <if test="monthlyRepayment != null" >
        monthly_repayment,
      </if>
      <if test="transfer != null" >
        transfer,
      </if>
      <if test="salesType != null" >
        sales_type,
      </if>
      <if test="salesConsultant != null" >
        sales_consultant,
      </if>
      <if test="salesDate != null" >
        sales_date,
      </if>
      <if test="insuranceCompany != null" >
        insurance_company,
      </if>
      <if test="commercialInsuranceExpires != null" >
        commercial_insurance_expires,
      </if>
      <if test="compulsoryInsuranceExpires != null" >
        compulsory_insurance_expires,
      </if>
      <if test="mortgageCharges != null" >
        mortgage_charges,
      </if>
      <if test="insuranceRebate != null" >
        insurance_rebate,
      </if>
      <if test="boutiqueProfit != null" >
        boutique_profit,
      </if>
      <if test="guaranteedProfit != null" >
        guaranteed_profit,
      </if>
      <if test="addProfits != null" >
        add_profits,
      </if>
      <if test="otherExpenses != null" >
        other_expenses,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="vehicleOwnerType != null" >
        vehicle_owner_type,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="drawee != null" >
        drawee,
      </if>
      <if test="openingBank != null" >
        opening_bank,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="otherAccounts != null" >
        other_accounts,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="mortgagePlan != null" >
        mortgage_plan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="transactionFee != null" >
        #{transactionFee,jdbcType=DECIMAL},
      </if>
      <if test="earnestMoney != null" >
        #{earnestMoney,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="downPayments != null" >
        #{downPayments,jdbcType=DECIMAL},
      </if>
      <if test="mortgageAmount != null" >
        #{mortgageAmount,jdbcType=DECIMAL},
      </if>
      <if test="mortgagePeriod != null" >
        #{mortgagePeriod,jdbcType=BIGINT},
      </if>
      <if test="monthlyRepayment != null" >
        #{monthlyRepayment,jdbcType=DECIMAL},
      </if>
      <if test="transfer != null" >
        #{transfer,jdbcType=VARCHAR},
      </if>
      <if test="salesType != null" >
        #{salesType,jdbcType=VARCHAR},
      </if>
      <if test="salesConsultant != null" >
        #{salesConsultant,jdbcType=VARCHAR},
      </if>
      <if test="salesDate != null" >
        #{salesDate,jdbcType=DATE},
      </if>
      <if test="insuranceCompany != null" >
        #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="commercialInsuranceExpires != null" >
        #{commercialInsuranceExpires,jdbcType=DATE},
      </if>
      <if test="compulsoryInsuranceExpires != null" >
        #{compulsoryInsuranceExpires,jdbcType=DATE},
      </if>
      <if test="mortgageCharges != null" >
        #{mortgageCharges,jdbcType=DECIMAL},
      </if>
      <if test="insuranceRebate != null" >
        #{insuranceRebate,jdbcType=DECIMAL},
      </if>
      <if test="boutiqueProfit != null" >
        #{boutiqueProfit,jdbcType=DECIMAL},
      </if>
      <if test="guaranteedProfit != null" >
        #{guaranteedProfit,jdbcType=DECIMAL},
      </if>
      <if test="addProfits != null" >
        #{addProfits,jdbcType=DECIMAL},
      </if>
      <if test="otherExpenses != null" >
        #{otherExpenses,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwnerType != null" >
        #{vehicleOwnerType,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="drawee != null" >
        #{drawee,jdbcType=VARCHAR},
      </if>
      <if test="openingBank != null" >
        #{openingBank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="otherAccounts != null" >
        #{otherAccounts,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mortgagePlan != null" >
        #{mortgagePlan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>