<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarOrderFeeChangeWriteDao" >
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from car_order_fee_change
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarOrderFeeChange" >
    insert into car_order_fee_change (id, order_id, transaction_fee, create_user, create_time, old_fee, 
      new_fee)
    values (#{id}, #{orderId}, #{transactionFee}, #{createUser}, #{createTime}, #{oldFee}, 
      #{newFee})
  </insert>
  <update id="updateByIdSelective" parameterType="com.wintop.ms.carauction.entity.CarOrderFeeChange" >
    update car_order_fee_change
    <set >
      <if test="orderId != null" >
        order_id = #{orderId},
      </if>
      <if test="transactionFee != null" >
        transaction_fee = #{transactionFee},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="oldFee != null" >
        old_fee = #{oldFee},
      </if>
      <if test="newFee != null" >
        new_fee = #{newFee},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateById" parameterType="com.wintop.ms.carauction.entity.CarOrderFeeChange" >
    update car_order_fee_change
    set order_id = #{orderId},
      transaction_fee = #{transactionFee},
      create_user = #{createUser},
      create_time = #{createTime},
      old_fee = #{oldFee},
      new_fee = #{newFee}
    where id = #{id}
  </update>
</mapper>