<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.ICarQuestionClassifyWriteDao" >
    <delete id="deleteById" parameterType="java.lang.Long" >
        delete from car_question_classify
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CarQuestionClassify" >
        insert into car_question_classify
        (id, classify_name, is_open, sort, create_time, create_person)
        values
        (#{id}, #{classifyName}, #{isOpen}, #{sort}, #{createTime}, #{createPerson})
    </insert>

    <update id="updateByIdSelective" parameterType="com.wintop.ms.carauction.entity.CarQuestionClassify" >
        update car_question_classify
        <set >
            <if test="classifyName != null" >
                classify_name = #{classifyName},
            </if>
            <if test="isOpen != null" >
                is_open = #{isOpen},
            </if>
            <if test="sort != null" >
                sort = #{sort},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime},
            </if>
            <if test="createPerson != null" >
                create_person = #{createPerson},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateById" parameterType="com.wintop.ms.carauction.entity.CarQuestionClassify" >
        update car_question_classify
        set classify_name = #{classifyName},
        is_open = #{isOpen},
        sort = #{sort},
        create_time = #{createTime},
        create_person = #{createPerson}
        where id = #{id}
    </update>
</mapper>