<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.CustomerBoardWriteDao" >

  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.CustomerBoard" >
    insert into car_customer_board (id, customer_id, board_real_id, bind_status, create_time,
      create_person, modify_time, modify_person)
    values (#{id}, #{customerId}, #{boardRealId}, #{bindStatus}, #{createTime},
      #{createPerson}, #{modifyTime}, #{modifyPerson})
  </insert>

  <update id="updateBindStatus" parameterType="com.wintop.ms.carauction.entity.CustomerBoard" >
    update car_customer_board
    set bind_status = #{bindStatus},
      modify_time = #{modifyTime},
      modify_person = #{modifyPerson}
    where board_real_id = #{boardRealId} and bind_status='1'
  </update>

  <update id="deleteCustomerBoard" parameterType="com.wintop.ms.carauction.entity.CustomerBoard" >
    update car_customer_board
    set bind_status = '2',
      modify_time = #{modifyTime},
      modify_person = #{modifyPerson}
    where customer_id = #{customerId} and board_real_id = #{boardRealId} and bind_status='1'
  </update>
</mapper>