<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.TblAuctionLogWriteDao" >

  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.TblAuctionLog" >
    insert into tbl_auction_log (id, station_real_code, board_real_id, token, auction_times_id, auction_times_name,
      bs_id, board_real_name, auction_time, local_auction_id,auction_car_id,car_id,customer_id,bid_fee,cutting_sign)
    values (#{id}, #{stationRealCode}, #{boardRealId}, #{token}, #{auctionTimesId}, #{auctionTimesName},
      #{bsId}, #{boardRealName}, #{auctionTime}, #{localAuctionId},#{auctionCarId},#{carId},#{customerId},#{bidFee},#{cuttingSign})
  </insert>

</mapper>