<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.TblAuctionTimesWriteDao" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_auction_times
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.TblAuctionTimes" >
    insert into tbl_auction_times (id, bs_id,station_real_code, station_code, local_auction_id, auction_times,
      start_auction_time, end_auction_time, num, enable, remarks)
    values (#{id},#{bsId}, #{stationRealCode}, #{stationCode}, #{localAuctionId}, #{auctionTimes},
      #{startAuctionTime}, #{endAuctionTime}, #{num}, #{enable}, #{remarks})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wintop.ms.carauction.entity.TblAuctionTimes" >
    update tbl_auction_times
    <set >
      <if test="bsId != null" >
        bs_id = #{bsId},
      </if>
      <if test="stationRealCode != null" >
        station_real_code = #{stationRealCode},
      </if>
      <if test="stationCode != null" >
        station_code = #{stationCode},
      </if>
      <if test="localAuctionId != null" >
        local_auction_id = #{localAuctionId},
      </if>
      <if test="auctionTimes != null" >
        auction_times = #{auctionTimes},
      </if>
      <if test="startAuctionTime != null" >
        start_auction_time = #{startAuctionTime},
      </if>
      <if test="endAuctionTime != null" >
        end_auction_time = #{endAuctionTime},
      </if>
      <if test="num != null" >
        num = #{num},
      </if>
      <if test="enable != null" >
        enable = #{enable},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>