<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.write.TblAuctionLogWriteDao" >

  <insert id="insert" parameterType="com.wintop.ms.carauction.entity.TblAuctionLog" >
    insert into tbl_auction_log (id, station_real_id, board_real_id, token, auction_times_name,
      board_name, auction_time, local_auction_id,auction_car_id,car_id,customer_id,bid_fee,
      price_type,enable,parent_id,create_person,create_time)
    values (#{id}, #{stationRealId}, #{boardRealId}, #{token},  #{auctionTimesName},
       #{boardName}, #{auctionTime}, #{localAuctionId},#{auctionCarId},#{carId},#{customerId},#{bidFee},
      #{priceType},#{enable},#{parentId}, #{createPerson}, #{createTime})
  </insert>
  <update id="updatePriceAdd" parameterType="com.wintop.ms.carauction.entity.TblAuctionLog" >
    update tbl_auction_log
    set bid_fee=#{bidFee},parent_id=#{parentId}
    where auction_car_id = #{auctionCarId} and bid_fee is null
  </update>
</mapper>