<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wintop.ms.carauction.mapper.read.CarAssessFollowDataReadDao">

    <resultMap type="com.wintop.ms.carauction.entity.CarAssessFollowData" id="CarAssessFollowDataResult">
        <result property="id" column="id"/>
        <result property="assessId" column="assess_id"/>
        <result property="content" column="content"/>
        <result property="followResult" column="follow_result"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="followUser" column="follow_user"/>
        <result property="createUser" column="create_user"/>
    </resultMap>

    <sql id="selectCarAssessFollowDataVo">
        select id, assess_id, content, follow_result, create_time, follow_user from car_assess_follow_data
    </sql>

    <select id="selectCarAssessFollowDataList" parameterType="com.wintop.ms.carauction.entity.CarAssessFollowData"
            resultMap="CarAssessFollowDataResult">
        select f.id, f.assess_id, f.content, f.follow_result, f.create_time, f.follow_user ,ca.create_user_name as create_user
        from car_assess_follow_data f
             ,car_assess ca
        <where>
            f.assess_id = ca.id
            <if test="id != null ">and f.id = #{id}</if>
            <if test="assessId != null ">and f.assess_id = #{assessId}</if>
            <if test="content != null  and content != '' ">and f.content = #{content}</if>
            <if test="followResult != null  and followResult != '' ">and f.follow_result = #{followResult}</if>
            <if test="createTime != null ">and f.create_time = #{createTime}</if>
            <if test="followUser != null ">and f.follow_user = #{followUser}</if>
        </where>
        order by f.id desc
        <if test="endRowNum != null">
            limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectAssessFollowDataCount" parameterType="com.wintop.ms.carauction.entity.CarAssessFollowData"
            resultType="java.lang.Integer">
        select count(*) from car_assess_follow_data
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="assessId != null ">and assess_id = #{assessId}</if>
            <if test="content != null  and content != '' ">and content = #{content}</if>
            <if test="followResult != null  and followResult != '' ">and follow_result = #{followResult}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="followUser != null ">and follow_user = #{followUser}</if>
        </where>
    </select>

    <select id="selectCarAssessFollowDataById" parameterType="Long" resultMap="CarAssessFollowDataResult">
        <include refid="selectCarAssessFollowDataVo"/>
        where id = #{id}
    </select>

</mapper>