<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarAutoInfoDetailReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarAutoInfoDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="auto_id" property="autoId" jdbcType="BIGINT" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="auto_brand" property="autoBrand" jdbcType="BIGINT" />
    <result column="auto_style" property="autoStyle" jdbcType="BIGINT" />
    <result column="auto_series" property="autoSeries" jdbcType="BIGINT" />
    <result column="engine_capacity" property="engineCapacity" jdbcType="VARCHAR" />
    <result column="engine_capacity_unit" property="engineCapacityUnit" jdbcType="VARCHAR" />
    <result column="environment" property="environment" jdbcType="VARCHAR" />
    <result column="oil_supply_system" property="oilSupplySystem" jdbcType="VARCHAR" />
    <result column="transmission" property="transmission" jdbcType="VARCHAR" />
    <result column="vehicle_driver" property="vehicleDriver" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="DECIMAL" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="color_changed" property="colorChanged" jdbcType="VARCHAR" />
    <result column="manufacture_date" property="manufactureDate" jdbcType="DATE" />
    <result column="begin_register_date" property="beginRegisterDate" jdbcType="DATE" />
    <result column="vehicle_attribution_province" property="vehicleAttributionProvince" jdbcType="VARCHAR" />
    <result column="vehicle_attribution_city" property="vehicleAttributionCity" jdbcType="VARCHAR" />
    <result column="license_number" property="licenseNumber" jdbcType="VARCHAR" />
    <result column="car_nature" property="carNature" jdbcType="VARCHAR" />
    <result column="use_nature" property="useNature" jdbcType="VARCHAR" />
    <result column="is_modification" property="isModification" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="intake_method" property="intakeMethod" jdbcType="VARCHAR" />
    <result column="remark_photo" property="remarkPhoto" jdbcType="VARCHAR" />
    <result column="car_shape" property="carShape" jdbcType="VARCHAR" />
    <result column="car_shape_cn" property="carShapeCn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="auto_info_name" property="autoInfoName" jdbcType="VARCHAR"/>
    <result column="auto_brand_cn" property="autoBrandCn" jdbcType="VARCHAR"/>
    <result column="auto_series_cn" property="autoSeriesCn" jdbcType="VARCHAR"/>
    <result column="auto_style_cn" property="autoStyleCn" jdbcType="VARCHAR"/>
    <result column="environment_cn" property="environmentCn" jdbcType="VARCHAR"/>
    <result column="oil_supply_system_cn" property="oilSupplySystemCn" jdbcType="VARCHAR"/>
    <result column="transmission_cn" property="transmissionCn" jdbcType="VARCHAR"/>
    <result column="vehicle_driver_cn" property="vehicleDriverCn" jdbcType="VARCHAR"/>
    <result column="color_cn" property="colorCn" jdbcType="VARCHAR"/>
    <result column="vehicle_attribution_province_cn" property="vehicleAttributionProvinceCn" jdbcType="VARCHAR"/>
    <result column="vehicle_attribution_city_cn" property="vehicleAttributionCityCn" jdbcType="VARCHAR"/>
    <result column="car_nature_cn" property="carNatureCn" jdbcType="VARCHAR"/>
    <result column="use_nature_cn" property="useNatureCn" jdbcType="VARCHAR"/>
    <result column="intake_method_cn" property="intakeMethodCn" jdbcType="VARCHAR"/>
    <result column="car_auto_no" property="carAutoNo" jdbcType="VARCHAR"/>
    <result column="report_colligation_ranks" property="reportColligationRanks" jdbcType="VARCHAR"/>
    <result column="report_servicing_ranks" property="reportServicingRanks" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="VARCHAR"/>
    <result column="if_new" property="ifNew" jdbcType="VARCHAR"/>
    <result column="main_photo" property="mainPhoto" jdbcType="VARCHAR"/>

  </resultMap>
  <sql id="Base_Column_List" >
    t1.id, t1.auto_id, t1.vin, t1.auto_brand, t1.auto_style, t1.auto_series, t1.engine_capacity, t1.engine_capacity_unit,
    t1.environment, t1.oil_supply_system, t1.transmission,
    t1.vehicle_driver, t1.mileage, t1.color, t1.color_changed, t1.manufacture_date, t1.begin_register_date,
    t1.vehicle_attribution_province, t1.vehicle_attribution_city, t1.license_number, t1.car_nature,
    t1.use_nature, t1.is_modification, t1.original_price, t1.remark, t1.intake_method, t1.remark_photo,
    t1.car_shape, t1.car_shape_cn, t1.create_time, t1.create_user, t1.update_time, t1.update_user,t1.auto_brand_cn,t1.auto_series_cn,
    t1.auto_style_cn,t1.environment_cn,t1.oil_supply_system_cn,t1.transmission_cn,t1.vehicle_driver_cn,t1.color_cn,t1.vehicle_attribution_province_cn,
    t1.vehicle_attribution_city_cn,t1.car_nature_cn,t1.use_nature_cn,t1.intake_method_cn
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from car_auto_info_detail t1
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="endRowNum != null">
      limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from car_auto_info_detail t1
    where t1.id = #{id}
  </select>

  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(t1.id) from car_auto_info_detail t1
  </select>

  <select id="selectDetailByCarId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    ,t2.car_auto_no,t2.auto_info_name,t2.report_colligation_ranks,t2.report_servicing_ranks,t2.status,t2.if_new,t2.main_photo
    FROM car_auto_info_detail t1
    INNER JOIN car_auto t2 ON t1.auto_id=t2.id
    WHERE t1.auto_id=#{carId}
  </select>
</mapper>