<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarAutoDetectionDataPhotoReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarAutoDetectionDataPhoto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="class_id" property="classId" jdbcType="BIGINT" />
    <result column="auto_id" property="autoId" jdbcType="BIGINT" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.classId != null" >
         and class_id = #{condition.classId}
      </if>
      <if test="condition.autoId != null" >
         and auto_id = #{condition.autoId}
      </if>
      <if test="condition.photoUrl != null" >
         and photo_url = #{condition.photoUrl}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, class_id, auto_id, photo_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wintop.ms.carauction.entity.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_auto_detection_data_photo
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="endRowNum != null">
      limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
    </if>  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from car_auto_detection_data_photo
    where id = #{id}
  </select>

  <select id="countByExample" parameterType="com.wintop.ms.carauction.entity.Criteria" resultType="java.lang.Integer" >
    select count(*) from car_auto_detection_data_photo
  </select>
  <!--查询某辆车的质检报告 上传图片-->
  <select id="selectByAutoId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from car_auto_detection_data_photo
    where auto_id = #{autoId}
  </select>
</mapper>