<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wintop.ms.carauction.mapper.read.CarChaboshiLogReadDao">

    <resultMap type="com.wintop.ms.carauction.entity.CarChaboshiLog" id="CarChaboshiLogResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="userType"    column="user_type"    />
        <result property="userId"    column="user_id"    />
        <result property="vin"    column="vin"    />
        <result property="responseMsg"    column="response_msg"    />
        <result property="sourceType"    column="source_type"    />
        <result property="responseResult"    column="response_result"    />
        <result property="money"    column="money"    />
        <result property="edition"    column="edition"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderMsg"    column="order_msg"    />
        <result property="userName"    column="user_name"    />
        <result property="storeId"    column="store_id"    />
        <result property="payLogId"    column="paylog_id"    />
    </resultMap>

	<sql id="selectCarChaboshiLogVo">
        select id,paylog_id,store_id, create_time, user_type, user_id, vin, response_msg, source_type, response_result, money, edition, order_id, order_msg, user_name from car_chaboshi_log
    </sql>

    <select id="selectCarChaboshiLogList" parameterType="com.wintop.ms.carauction.entity.CarChaboshiLog" resultMap="CarChaboshiLogResult">
        <include refid="selectCarChaboshiLogVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="userType != null  and userType != '' "> and user_type = #{userType}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="vin != null  and vin != '' "> and vin = #{vin}</if>
             <if test="responseMsg != null  and responseMsg != '' "> and response_msg = #{responseMsg}</if>
             <if test="sourceType != null  and sourceType != '' "> and source_type = #{sourceType}</if>
             <if test="responseResult != null  and responseResult != '' "> and response_result = #{responseResult}</if>
             <if test="money != null "> and money = #{money}</if>
             <if test="edition != null  and edition != '' "> and edition = #{edition}</if>
             <if test="orderId != null  and orderId != '' "> and order_id = #{orderId}</if>
             <if test="orderMsg != null  and orderMsg != '' "> and order_msg = #{orderMsg}</if>
             <if test="userName != null  and userName != '' "> and user_name = #{userName}</if>
             <if test="storeId != null  and storeId != '' "> and store_id = #{storeId}</if>
             <if test="payLogId != null  and payLogId != '' "> and paylog_id = #{payLogId}</if>
         </where>
        order by create_time desc
    </select>


    <select id="selectCount" parameterType="com.wintop.ms.carauction.entity.CarChaboshiLog" resultType="java.lang.Integer">
        select count(*) from car_chaboshi_log
        <where>
            <if test="id != null "> and id = #{id}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="userType != null  and userType != '' "> and user_type = #{userType}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="vin != null  and vin != '' "> and vin = #{vin}</if>
             <if test="responseMsg != null  and responseMsg != '' "> and response_msg = #{responseMsg}</if>
             <if test="sourceType != null  and sourceType != '' "> and source_type = #{sourceType}</if>
             <if test="responseResult != null  and responseResult != '' "> and response_result = #{responseResult}</if>
             <if test="money != null "> and money = #{money}</if>
             <if test="edition != null  and edition != '' "> and edition = #{edition}</if>
             <if test="orderId != null  and orderId != '' "> and order_id = #{orderId}</if>
             <if test="orderMsg != null  and orderMsg != '' "> and order_msg = #{orderMsg}</if>
             <if test="userName != null  and userName != '' "> and user_name = #{userName}</if>
            <if test="storeId != null  and storeId != '' "> and store_id = #{storeId}</if>
            <if test="payLogId != null  and payLogId != '' "> and paylog_id = #{payLogId}</if>

        </where>
    </select>

    <select id="selectCarChaboshiLogById" parameterType="Long" resultMap="CarChaboshiLogResult">
        <include refid="selectCarChaboshiLogVo"/>
        where id = #{id}
    </select>

</mapper>