<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarCustomerViewedAutoReadDao" >
    <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarCustomerViewedAuto" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="auto_id" property="autoId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="auto_info_name" property="autoInfoName" jdbcType="VARCHAR" />
        <result column="vehicle_attribution_city" property="vehicleAttributionCity" jdbcType="VARCHAR" />
        <result column="starting_price" property="startingPrice" jdbcType="DECIMAL" />
        <result column="car_auto_no" property="carAutoNo" jdbcType="VARCHAR" />
        <result column="carAutoId" property="carAutoId" jdbcType="BIGINT" />
        <result column="mileage" property="mileage" jdbcType="DECIMAL" />
        <result column="isFollow" property="isFollow" jdbcType="VARCHAR" />
        <result column="auction_start_time" property="auctionStartTime" jdbcType="TIMESTAMP" />
        <result column="auction_end_time" property="auctionEndTime" jdbcType="TIMESTAMP" />
        <result column="main_photo" property="mainPhoto" jdbcType="VARCHAR" />
        <result column="auction_type" property="auctionType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="report_colligation_ranks" property="reportColligationRanks" jdbcType="VARCHAR" />
        <result column="report_servicing_ranks" property="reportServicingRanks" jdbcType="VARCHAR" />
        <result column="engine_capacity" property="engineCapacity" jdbcType="VARCHAR" />
        <result column="engine_capacity_unit" property="engineCapacityUnit" jdbcType="VARCHAR" />
        <result column="environment" property="environment" jdbcType="VARCHAR" />
        <result column="environment_cn" property="environmentCn" jdbcType="VARCHAR" />
        <result column="begin_register_date" property="beginRegisterDate" jdbcType="VARCHAR"/>
        <result column="auction_type" property="auctionType" jdbcType="VARCHAR" />
        <result column="auction_start_time" property="auctionStartTime" jdbcType="TIMESTAMP" />
        <result column="carStoreName" property="carStoreName" jdbcType="VARCHAR" />
        <result column="vehicle_attribution_city_cn" property="vehicleAttributionCityCn" jdbcType="VARCHAR" />
        <result column="auto_auction_id" property="autoAuctionId" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, auto_id, user_id, create_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from car_customer_viewed_auto
        where id = #{id}
    </select>
    <!--根据条件查询用户浏览的车辆列表-->
    <select id="queryUserViewList" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
            t2.status,
            t2.report_colligation_ranks,
            t2.report_servicing_ranks,
            t2.auto_info_name,
            t3.vehicle_attribution_city,
            t3.vehicle_attribution_city_cn,
            t4.starting_price,
            t2.car_auto_no,
            t2.id AS carAutoId,
            t3.mileage,
            t4.auction_start_time,
            t4.auction_end_time,
            t2.main_photo,
            t4.auction_type,
           (CASE WHEN t5.auto_id IS NOT NULL THEN '1' ELSE '2' END ) AS isFollow,
            t3.engine_capacity,
            t3.engine_capacity_unit,
            t3.environment,
            t3.environment_cn,
            t3.begin_register_date,
            t4.auction_start_time,
            t4.auction_type,
         cs.simple_name as carStoreName,t1.create_time,
          t2.auto_auction_id
         FROM car_customer_viewed_auto t1
        INNER JOIN car_auto t2 ON t1.auto_id = t2.id
        INNER JOIN car_auto_info_detail t3 ON t3.auto_id = t2.id
        INNER JOIN car_auto_auction t4 ON t4.id = t2.auto_auction_id
        LEFT JOIN car_store cs on cs.id=t2.store_id
        LEFT JOIN car_customer_follow_auto t5 ON (t2.id=t5.auto_id AND t5.user_id=#{customerId} AND t5.status='1')
        LEFT JOIN car_locale_auction_car t6 ON t6.car_id=t1.auto_id
        WHERE t1.user_id = #{customerId}
        <if test="clientType=='app'">
            <!--手机端查看过滤掉结束时间已过的车-->
            AND ((t4.auction_type='1' AND t4.auction_end_time <![CDATA[ > ]]> NOW()) OR (t4.auction_type='2' AND t6.auction_status in('0','1')))
        </if>
        <if test="auctionType">
            AND t4.auction_type=#{auctionType}
        </if>
        <if test="brandId!=null">
            AND t3.auto_brand=#{brandId}
        </if>
        <if test="startRowNum!=null">
            limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
        </if>
    </select>
    <!--根据条件查询用户浏览的车辆数-->
    <select id="selectUserViewCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
           COUNT(1)
        FROM car_customer_viewed_auto t1
        INNER JOIN car_auto t2 ON t1.auto_id = t2.id
        INNER JOIN car_auto_info_detail t3 ON t3.auto_id = t2.id
        INNER JOIN car_auto_auction t4 ON t4.id = t2.auto_auction_id
        LEFT JOIN car_customer_follow_auto t5 ON (t2.id=t5.auto_id AND t5.user_id=#{customerId} AND t5.status='1')
        LEFT JOIN car_locale_auction_car t6 ON t6.car_id=t1.auto_id
        WHERE t1.user_id = #{customerId}
        <if test="clientType=='app'">
            <!--手机端查看过滤掉结束时间已过的车-->
            AND ((t4.auction_type='1' AND t4.auction_end_time <![CDATA[ > ]]> NOW()) OR (t4.auction_type='2' AND t6.auction_status in('0','1')))
        </if>
        <if test="auctionType">
            AND t4.auction_type=#{auctionType}
        </if>
        <if test="brandId!=null">
            AND t3.auto_brand=#{brandId}
        </if>
    </select>

    <select id="queryViewRecord"  resultMap="BaseResultMap">
        SELECT t1.id, t1.auto_id, t1.user_id, t1.create_time
        FROM car_customer_viewed_auto t1
        WHERE t1.auto_id=#{carId} AND t1.user_id=#{customerId}
    </select>
</mapper>