<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarDataImportRecordReadDao" >
    <select id="selectCarDataImportRecord" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select id_record from car_data_import_record where id=#{id}
    </select>
</mapper>