<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarManagerPageReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarManagerPage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="designation" property="designation" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="characterization" property="characterization" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="BIGINT" />
    <result column="modify_person" property="modifyPerson" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="TreeResultMap" type="com.wintop.ms.carauction.entity.TreeEntity">
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="pid" property="pId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="checked" property="checked" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    id, parent_id, designation, url, characterization, status, `level`,create_time, modify_time,
    create_person, modify_person
    from car_manager_page
    where 1=1
    <if test="level!=null">
      and `level`=#{level}
    </if>
    <if test="parentId!=null">
      and parent_id=#{parentId}
    </if>
    <if test="startRowNum != null and endRowNum != null ">
      limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
    </if>
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(id) from car_manager_page
    where 1=1
    <if test="level!=null">
      and `level`=#{level}
    </if>
    <if test="parentId!=null">
      and parent_id=#{parentId}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    id, parent_id, designation, url, characterization, status, `level`,create_time, modify_time,
    create_person, modify_person
    from car_manager_page
    where id = #{id}
  </select>
  <select id="getPageTreeList" resultMap="TreeResultMap" parameterType="java.lang.Long">
    SELECT t1.id,t1.parent_id pId,t1.designation `name`, if(t2.id is null,false,true) checked
        FROM car_manager_page t1
        LEFT JOIN car_manager_role_page t2 ON (t1.id=t2.page_id and t2.role_id=#{roleId})
    WHERE t1.`status`='1'
  </select>

  <select id="getPageTreeByPId" resultMap="TreeResultMap" parameterType="java.util.Map">
    SELECT t1.id,t1.parent_id pId,t1.designation `name`, if(t2.id is null,false,true) checked
    FROM car_manager_page t1
    LEFT JOIN car_manager_role_page t2 ON (t1.id=t2.page_id and t2.role_id=#{roleId})
    WHERE t1.`status`='1'AND t1.parent_id=#{parentId}
  </select>
</mapper>