<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarManagerRoleLogReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarManagerRoleLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_data_id" property="roleDataId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="status_cn" property="statusCn" jdbcType="VARCHAR" />
    <result column="log_msg" property="logMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="search_type" property="searchType" jdbcType="VARCHAR" />
    <result column="edition" property="edition" jdbcType="VARCHAR" />
    <result column="vehicle_type" property="vehicleType" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="create_person" property="createPerson" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_data_id, status, status_cn, log_msg, create_time, store_id, vin, search_type, edition, vehicle_type, photo, create_person
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from car_manager_role_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from car_manager_role_log
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="roleDataId != null" >
        AND role_data_id = #{roleDataId,jdbcType=BIGINT}
      </if>
      <if test="status != null" >
        AND status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="statusCn != null" >
        AND status_cn = #{statusCn,jdbcType=VARCHAR}
      </if>
      <if test="logMsg != null" >
        AND log_msg = #{logMsg,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="storeId != null" >
        AND store_id = #{storeId,jdbcType=TIMESTAMP}
      </if>
      <if test="vin != null" >
        AND vin = #{vin,jdbcType=TIMESTAMP}
      </if>
      <if test="searchType != null" >
        AND search_type = #{searchType,jdbcType=TIMESTAMP}
      </if>
      <if test="edition != null" >
        AND edition = #{edition,jdbcType=TIMESTAMP}
      </if>
      <if test="vehicleType != null" >
        AND vehicle_type = #{vehicleType,jdbcType=TIMESTAMP}
      </if>
      <if test="createPerson != null" >
        AND create_person = #{createPerson,jdbcType=BIGINT}
      </if>
    </trim>
  </select>


</mapper>