<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.ICarReservationSeeCarReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.CarReservationSeeCar" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="reservation_id" property="reservationId" jdbcType="BIGINT" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, reservation_id, contact_phone, create_time, `type`
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from car_reservation_see_car
    where id = #{id}
  </select>

  <select id="selectByPhoneAndReservationId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from car_reservation_see_car
    where reservation_id = #{reservationId} and contact_phone = #{contactPhone}
  </select>
</mapper>