<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.IDepositDetailReadDao" >
    <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.DepositDetail" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_code" property="userCode" jdbcType="VARCHAR" />
        <result column="userNum" property="userNum" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="customerStoreName" property="customerStoreName" jdbcType="VARCHAR" />
        <result column="payTime" property="payTime" jdbcType="TIMESTAMP" />
        <result column="payType" property="payType" jdbcType="VARCHAR" />
        <result column="logNo" property="logNo" jdbcType="VARCHAR" />
        <result column="payFee" property="payFee" jdbcType="DECIMAL" />
    </resultMap>
    <!--根据条件查询保证金缴纳明细记录列表-->
    <select id="queryDepositDetailList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        t3.id,
        t3.user_code,
        t3.user_num as userNum,
        t3.name as username,
        t3.mobile,
        t4.simple_name as customerStoreName,
        t2.pay_time as payTime,
        t2.pay_way as payType,
        t2.log_no as logNo,
        t2.pay_fee as payFee
        from car_customer_deposit t1
        left join car_finance_pay_log t2 on t1.id=t2.order_id
        left join wt_app_user t3 on t1.user_id=t3.id
        left join car_store t4 on t3.store_id=t4.id
        where t2.type=1 and t2.status=1
        <if test="searchName!=null">
            AND (t3.user_num LIKE CONCAT(CONCAT('%', #{searchName}),'%')
            OR t3.name LIKE CONCAT(CONCAT('%', #{searchName}),'%')
            OR t3.mobile LIKE CONCAT(CONCAT('%',#{searchName}),'%')
            OR t3.user_code LIKE CONCAT(CONCAT('%',#{searchName}),'%'))
        </if>
        <if test="customerStoreId!=null">
            AND t4.id=#{customerStoreId}
        </if>
        <if test="beginTime!=null">
            AND t2.pay_time <![CDATA[ >= ]]>#{beginTime}
        </if>
        <if test="endTime!=null">
            AND t2.pay_time <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="storeIds != null and storeIds.size!=0">
            and t3.store_id in
            <foreach item="storeId" index="index" collection="storeIds" open="(" separator="," close=")">
                #{storeId}
            </foreach>
        </if>
        ORDER BY t2.pay_time DESC
        <if test="startRowNum != null">
            limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
        </if>
    </select>
    <!--查询保证金缴纳明细记录的数量-->
    <select id="selectDepositDetailCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        COUNT(t1.id)
        from car_customer_deposit t1
        left join car_finance_pay_log t2 on t1.id=t2.order_id
        left join wt_app_user t3 on t1.user_id=t3.id
        left join car_store t4 on t3.store_id=t4.id
        where t2.type=1 and t2.status=1
        <if test="searchName!=null">
            AND (t3.user_num LIKE CONCAT(CONCAT('%', #{searchName}),'%')
            OR t3.name LIKE CONCAT(CONCAT('%', #{searchName}),'%')
            OR t3.mobile LIKE CONCAT(CONCAT('%',#{searchName}),'%')
            OR t3.user_code LIKE CONCAT(CONCAT('%',#{searchName}),'%'))
        </if>
        <if test="customerStoreId!=null">
            AND t4.id=#{customerStoreId}
        </if>
        <if test="beginTime!=null">
            AND t2.pay_time <![CDATA[ >= ]]>#{beginTime}
        </if>
        <if test="endTime!=null">
            AND t2.pay_time <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="storeIds != null and storeIds.size!=0">
            and t3.store_id in
            <foreach item="storeId" index="index" collection="storeIds" open="(" separator="," close=")">
                #{storeId}
            </foreach>
        </if>
    </select>
</mapper>