<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.TblAuctionTimesReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.TblAuctionTimes" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="station_real_code" property="stationRealCode" jdbcType="VARCHAR" />
    <result column="station_code" property="stationCode" jdbcType="VARCHAR" />
    <result column="local_auction_id" property="localAuctionId" jdbcType="BIGINT" />
    <result column="auction_times_name" property="auctionTimesName" jdbcType="VARCHAR" />
    <result column="start_auction_time" property="startAuctionTime" jdbcType="TIMESTAMP" />
    <result column="end_auction_time" property="endAuctionTime" jdbcType="TIMESTAMP" />
    <result column="init_price" property="initPrice" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="board_real_name" property="boardRealName" jdbcType="VARCHAR" />
    <result column="bs_id" property="bsId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="cutting_sign" property="cuttingSign" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    t1.id, t1.station_real_code, t1.station_code, t1.local_auction_id, t1.auction_times_name, t1.start_auction_time,
    t1.end_auction_time, t1.init_price, t1.remarks,t1.bs_id,t1.create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from tbl_auction_times t1
    order by t1.create_time desc
    <if test="startRowNum != null and endRowNum != null">
      limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
    </if>
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(t1.id) from tbl_auction_times t1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_auction_times t1
    where t1.id = #{id}
  </select>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    t1.*,t3.board_real_name,t3.cutting_sign
    from tbl_auction_times t1
    inner join tbl_base_station t2 on t1.bs_id=t2.id
    inner join tbl_auction_board t3 on t2.id=t3.bs_id
    where t2.station_real_code=#{jz} and t3.board_real_id=#{pp} and t2.token=#{mm}
    and t1.start_auction_time &lt;= #{auctionTime} and t1.end_auction_time &gt;= #{auctionTime}
    order by t1.create_time desc
    limit 1
  </select>
</mapper>