<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.TblAuctionBoardReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.TblAuctionBoard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="board_real_id" property="boardRealId" jdbcType="VARCHAR" />
    <result column="board_real_name" property="boardRealName" jdbcType="VARCHAR" />
    <result column="bs_id" property="bsId" jdbcType="BIGINT" />
    <result column="cutting_sign" property="cuttingSign" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, board_real_id, board_real_name, bs_id, cutting_sign, enable, remarks, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from tbl_auction_board
    order by id desc
    <if test="startRowNum != null and endRowNum != null">
      limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
    </if>
  </select>

  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from tbl_auction_board
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_auction_board
    where id = #{id}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.wintop.ms.carauction.entity.TblAuctionBoard" >
    update tbl_auction_board
    <set >
      <if test="boardRealId != null" >
        board_real_id = #{boardRealId},
      </if>
      <if test="boardRealName != null" >
        board_real_name = #{boardRealName},
      </if>
      <if test="bsId != null" >
        bs_id = #{bsId},
      </if>
      <if test="cuttingSign != null" >
        cutting_sign = #{cuttingSign},
      </if>
      <if test="enable != null" >
        enable = #{enable},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wintop.ms.carauction.entity.TblAuctionBoard" >
    update tbl_auction_board
    set board_real_id = #{boardRealId},
      board_real_name = #{boardRealName},
      bs_id = #{bsId},
      cutting_sign = #{cuttingSign},
      enable = #{enable},
      remarks = #{remarks},
      create_time = #{createTime}
    where id = #{id}
  </update>
</mapper>