<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintop.ms.carauction.mapper.read.TblBaseStationReadDao" >
  <resultMap id="BaseResultMap" type="com.wintop.ms.carauction.entity.TblBaseStation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="station_real_code" property="stationRealCode" jdbcType="VARCHAR" />
    <result column="station_code" property="stationCode" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="auction_name" property="auctionName" jdbcType="VARCHAR" />
    <result column="sys_user" property="sysUser" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_person" property="createPerson" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_person" property="modifyPerson" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="del_person" property="delPerson" jdbcType="BIGINT" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    t1.id, t1.station_real_code, t1.station_code, t1.token, t1.auction_name, t1.sys_user, t1.phone, t1.enable,
    t1.remarks,t1.create_person,t1.create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from tbl_base_station t1
    where t1.del_flag='1'
    order by t1.create_time desc
    <if test="startRowNum != null and endRowNum != null">
      limit #{startRowNum,jdbcType=BIGINT},#{endRowNum,jdbcType=BIGINT}
    </if>
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(t1.id)
    from tbl_base_station t1
    where t1.del_flag='1'
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_base_station t1
    where t1.id = #{id} and t1.del_flag='1'
  </select>
  <select id="selectByRealCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_base_station t1
    where t1.del_flag='1' and t1.station_real_code = #{realCode}
    limit 1
  </select>
</mapper>